* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  background: pink;
  display: flex;
  flex-direction: column;
}
